@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root
{
    --dark-purple: #11071F;
    --light-purple: #1A0B2E;
    --extra-light-purple: #1A0B2E;
    --white: #FFF;
}
body
{
    background-color: var(--dark-purple);
}   
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-purple);
}
.Nav_Container
{
  width: 100%;
  padding: 1rem 0rem;
  background: var(--light-purple);
}
.logo h3
{
    color: var(--white);
    font-weight: 600;
    margin-left: 20px;
}
.nav_list
{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 2rem;
}
.nav_list a
{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav_list a:hover
{
    color: #6523A7;
}
.hamburger
{
    display: none;
    margin-right: 20px;
}
.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (max-width:580px) {
    .hamburger
    {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .nav_list
    {
        position: absolute;
        top: 60px;
        flex-direction: column;
        background: var(--light-purple);
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;    
        justify-content: center;
        left: -100%;
        transition: all 0.5s ease-in-out;
    }
    .nav_list.active
    {
        left: 0;
        transition: all 0.5s ease-in-out;
    }
}